<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework" />
  </configSections>
  
  <entityFramework>
    <contexts>
      <context
        type="Restaurants.Model.RestaurantEntities, Restaurants">
        <databaseInitializer
          type="System.Data.Entity.MigrateDatabaseToLatestVersion`2[[
            Restaurants.Model.RestaurantEntities, Restaurants], 
            [Restaurants.Model.RestaurantMigrationConfiguration, Restaurants]], 
            EntityFramework" />
      </context>
    </contexts>
  </entityFramework>
  
  <connectionStrings>
    <add
      name="RestaurantDatabase"
      providerName="System.Data.SqlClient"
      connectionString="Server=.\SQLEXPRESS;Database=Restaurant;Trusted_Connection=true;"/>
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
</configuration>